@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trash Collector Service</h1>
    <p class="lead">Bring your trash collecting to the 21st century with our technogically inclined take on a classic service.</p>
    <p>@Html.ActionLink("Register Now", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-6 text-center">
        <h2>Let us collect your Garbagemon</h2>
        <p>
            <img src="~/img/Garbagemon_t.gif" class="img-fluid" />
        </p>
    </div>
    <div class="col-md-6 text-center">
        <h2>Trash pickup for the modern age</h2>
        <p>
            <img src="~/img/generic_technology.jpg" class="img-fluid" />
        </p>
    </div>
</div>